body {
    background-color: white;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
}

h1 {
    color: orange;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
