body {
    background-image: url("/img/background.gif");
    background-repeat: repeat;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
}

h1 {
    color: orange;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
