body {
    background-image: url("/img/background.gif");
    background-repeat: repeat;
    perspective: 800px;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
}

h1 {
    color: orange;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    transform: rotateY(-35deg);
    text-shadow: 2px 2px #FF0000;
	font-size: 64px;
}
