extends layout

block content
    h1 ses BibTeX database
    p of under construction
    
    p
        a(href="/search") Show all references
    p
        a(href="/articles") Add a new article reference
    p
        a(href="/find") Search for references using filters
