extends layout

block content
    h1 ses BibTeX database
    h2 search
    ul
        each article in articles
            li 
                a(href="/articles/#{article.id}") #{article.title}
    p of under construction
